* {
  box-sizing: border-box;
}

h2 {
  color: white;
}

h1  {
  color: white;
}

a {
  color:     #38508d  ;
  text-decoration: none;
  font-size: 1.2em;
  padding-right: 10px;
}




div#left {
  background-image: url(../images/hang-man.jpg);
  width: 500px;
  height: 1000px;
}


div#right {
  background-image: url(../images/gallows.jpg);
  width: 900px;

}


.game-status-container {
  background: rgba( 222, 239, 242 , .4);

}

li {
  display: inline;
  text-decoration: none;
  font-weight: bold;
  padding-right: 20px;
  font-size: 1.3em;
}


p#display {
  letter-spacing: 15px;
  font-size: 100px;

}


p#lettersGuessed {
  letter-spacing: 15px;
  font-size: 50px;

}

.flexBox {
  flex-flow: row;
  display: flex;
}

#right a {
  float: right;

}
