body {
  /*background-color:  #DAF7A6 ;*/
  background-image: url(../images/sketch-pad.jpg);
}

/*.projects a {
  float: right;
  color:  #072a6d ;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
}*/

input {
  width: 65px;
}

#app-container {
  display: flex;
  justify-content: center;
  /*padding-top: 50px;*/
  border: 2px solid black;
}

.grid-lines {
  border: 1px solid black;
}

.flex-container {
  flex-grow: 1;

}

.tool-bar {
  padding-bottom: 20px;
}

.flex-item {
  color: white;
  background-color: white;
  /*border: 1px solid black;*/


}

.welcome {
  background: rgba( 222, 239, 242 , .7);
  box-shadow: 20px 8px 8px  black ;
  padding-top: 25px;
  padding-bottom: 25px;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  padding-left: 10px;




}

.welcome a {
  color:  #072a6d ;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
}

.tool-bar a {
  color:  #c4ad19 ;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  float: right;

}

.black {
  background-color: black;
  color: black;
}

.red {
  background-color: red;
  color: red;
}

.green {
  background-color: green;
  color: green;
}

.yellow {
  background-color: yellow;
  color: yellow;
}
